{
    ".url": {
        "{{.AppName}}.Application": {
            "title": "{{.DisplayName}}",
            "icon": "images/icon_{0}.png",
            "type": "{{.UIType}}",
            "protocol": "{{.Protocol}}",
            "port": "{{.Port}}",
            "url": "{{.Path}}",
            "allUsers": {{.AllUsers}}
        }
    }
}
